/* =========================================
   Library Management System
   Database Schema (Open Source Friendly)
   ========================================= */

IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'lms')
BEGIN
    CREATE DATABASE [lms];
END
GO

USE [lms];
GO

/* =========================================
   Table: books_info
   ========================================= */
CREATE TABLE dbo.books_info (
    Id INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    books_name NVARCHAR(50),
    books_author_name NVARCHAR(50),
    books_publication_name NVARCHAR(50),
    books_purchase_date DATE,
    books_price INT,
    books_quantity INT,
    available_qty INT
);
GO

/* =========================================
   Table: issue_books
   ========================================= */
CREATE TABLE dbo.issue_books (
    Id INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    student_enrollment VARCHAR(50),
    student_name VARCHAR(50),
    student_dept VARCHAR(50),
    student_sem VARCHAR(50),
    student_contact VARCHAR(50),
    student_email VARCHAR(50),
    books_name VARCHAR(50),
    books_issue_date VARCHAR(50),
    books_return_date VARCHAR(50)
);
GO

/* =========================================
   Table: library_person
   NOTE: Password should be hashed in app code
   ========================================= */
CREATE TABLE dbo.library_person (
    Id INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    fullname VARCHAR(50),
    username VARCHAR(50),
    password VARCHAR(255),
    email VARCHAR(50),
    contact VARCHAR(50)
);
GO

/* =========================================
   Table: student_info
   ========================================= */
CREATE TABLE dbo.student_info (
    Id INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    student_name VARCHAR(50),
    student_enrollment_no VARCHAR(50),
    student_department VARCHAR(50),
    student_sem VARCHAR(50),
    student_contact VARCHAR(50),
    student_email VARCHAR(50)
);
GO
